@font-face {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
    src: local('CinzelDecorative-Regular'), url(http://fonts.gstatic.com/s/cinzeldecorative/v4/fmgK7oaJJIXAkhd9798yQgFmqWZZiD2TZhWZ_nwGhk8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

p.aboutme {
    font-size: 1.1em;
}

div.name {
    background-color: white;
    width: 100%;
    margin-top: 50px;
}

h1.name {
    margin-left: 50px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 60px;
    line-height: 48px;
    color: #131313;
    max-width: 100px;
}

h1.name span {
    color: #adadad;
}

div.bild {
    background-image: url('3.jpg');
    height: 700px;
    background-size: cover;
}

section.even {
    background-color: #2A2A2A;
    color: #F0F0F0;
}

section.home--events {
    /*margin: 20px 20px 20px 20px;*/
    padding: 20px;
}

section.home--events > div {
    margin: 0 auto 0;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 700px;
    font-family: "proxima-nova", "Segoe UI", "Helvetica Neue", sans-serif;
    /*border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;*/
}

section.home--events > div.connect {
    /*max-width: 800px;*/
}

section.home--events > div.connect .w3-container
{
    padding: 0px;
}

section.home--events > div.connect .w3-container h2
{
    text-align:center;
    width:100%;
    height:100%;
}

section.home--events > div.connect .w3-container a
{
    height: 300px;
    display: block;
}

section.home--events > div.connect .w3-container h2
{
    height: 100%;
    margin: 0;
} 

section.home--events > div.connect .w3-container h2.facebook
{
    background-color: #3b5998;
}
section.home--events > div.connect .w3-container h2.mail
{
    background-color: #ffb642;
}

section.home--events > div.connect .w3-container h2 i
{
    color:white;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    font-size: 4em;
}

section.gallery  img
{
    width: 100%;
    margin-bottom: 3px;
}

section div.music div.audio
{
    width:300px;
    border: 1px solid #444;
}

section div.music div audio
{
    width:100%;
}

div.nav {
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    margin-top: 30px;
}

div.nav div {
    text-align: center;
    border-left: 1px solid #d2d2d2;
}

div.nav div a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cinzel Decorative', cursive;
}

.container h1 {
    font-family: 'Cinzel Decorative', cursive;
}

.container h4 {
    font-family: 'Cinzel Decorative', cursive;
}

.container p {
    font-family: 'Times New Roman', serif;
}

a {
    transition: 0.3s;
}

div.btn {
    text-align: center;
}

a.btn {
    border-radius: 5px;
    text-transform: uppercase;
    padding: 12px 26px;
    font-size: 16px;
    color: #fff;
    background: #333;
    text-decoration: none;
    margin: 20px;
    margin-top: 0px;
    display: inline-block;
}

a.btn:hover {
    color: #222;
    background: #fff;
}

footer p
{
    text-align:center;
    font-family: sans-serif;
}